<!--

	Map Size reference

			  Civ V       Civ VI 
	 
	Dual       40x24       44x26 
	Tiny       55x36       60x36 
	Small      66x42       74x46 
	Standard   80x52       84x54 
	Large     104x64       96x60
	Huge      128x80      106x66  
	Enormous              128x80
	Giant     180x94      180x94
	Ludicrous N/A        230x115 

-->

<GameInfo>
	
	<Maps>
		<Row File="PlayEuropeAgain.lua" Name="LOC_PLAYEUROPEAGAIN_NAME" Description="LOC_PLAYEUROPEAGAIN_DESC" SortIndex="4"/>
	</Maps>

	<Parameters>
		<!--	PlayEuropeAgain Options
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="RiversPlacement" Name="LOC_MAP_RIVERS_PLACEMENT_NAME" Description="LOC_MAP_RIVERS_PLACEMENT_DESCRIPTION" Domain="RiversPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map" ConfigurationId="RiversPlacement" GroupId="MapOptions" SortIndex="231"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="ContinentsPlacement" Name="LOC_MAP_CONTINENT_PLACEMENT_NAME" Description="LOC_MAP_CONTINENT_PLACEMENT_DESCRIPTION" Domain="ContinentsPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map" ConfigurationId="ContinentsPlacement" GroupId="MapOptions" SortIndex="232"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="NaturalWondersPlacement" Name="LOC_MAP_NATURAL_WONDERS_PLACEMENT_NAME" Description="LOC_MAP_NATURAL_WONDERS_PLACEMENT_DESCRIPTION" Domain="NaturalWondersPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map" ConfigurationId="NaturalWondersPlacement" GroupId="MapOptions" Hash="0" SortIndex="244"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="FeaturesPlacement" Name="LOC_MAP_FEATURES_PLACEMENT_NAME" Description="LOC_MAP_FEATURES_PLACEMENT_DESCRIPTION" Domain="FeaturesPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map" ConfigurationId="FeaturesPlacement" GroupId="MapOptions" Hash="0" SortIndex="245"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="Rainfall" Name="LOC_MAP_RAINFALL_NAME" Description="LOC_MAP_RAINFALL_DESCRIPTION" Domain="Rainfall" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="rainfall" GroupId="MapOptions" Hash="0" SortIndex="250"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="ResourcesPlacement" Name="LOC_MAP_RESOURCES_PLACEMENT_NAME" Description="LOC_MAP_RESOURCES_PLACEMENT_DESCRIPTION" Domain="ResourcesPlacement" DefaultValue="PLACEMENT_IMPORT" ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" GroupId="MapOptions" Hash="0" SortIndex="268"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="Resources" Name="LOC_MAP_RESOURCES_NAME" Description="LOC_MAP_RESOURCES_DESCRIPTION" Domain="Resources" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="resources" GroupId="MapOptions" Hash="0" SortIndex="270"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="CivilizationPlacement" Name="LOC_MAP_CIVILIZATION_PLACEMENT_NAME" Description="LOC_MAP_CIVILIZATION_PLACEMENT_DESCRIPTION" Domain="CivilizationPlacement" DefaultValue="PLACEMENT_TSL" ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" GroupId="MapOptions" Hash="0" SortIndex="280"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="ForceTSL" Name="LOC_MAP_FORCE_TSL_NAME" Description="LOC_MAP_FORCE_TSL_DESCRIPTION" Domain="ForceTSL" DefaultValue="FORCE_TSL_OFF" ConfigurationGroup="Map" ConfigurationId="ForceTSL" GroupId="MapOptions" Hash="0" SortIndex="281"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="StartPosition" Name="LOC_MAP_START_POSITION_NAME" Description="LOC_MAP_START_POSITION_DESCRIPTION" Domain="StartPosition" DefaultValue="2" ConfigurationGroup="Map" ConfigurationId="start" GroupId="MapOptions" Hash="0" SortIndex="285"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="RequestedResources" Name="LOC_MAP_RESOURCES_REQUESTED_NAME" Description="LOC_MAP_RESOURCES_REQUESTED_DESCRIPTION" Domain="RequestedResources" DefaultValue="PLACEMENT_REQUEST" ConfigurationGroup="Map" ConfigurationId="RequestedResources" GroupId="MapOptions" SortIndex="295"/>

		<!--	Auto City Naming
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" ParameterId="AutoCityNaming" Name="LOC_MAP_AUTO_CITY_NAMING_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="AutoCityNaming" GroupId="MapOptions" SortIndex="2000"/>

		<!--	Special default MapSize (hidden)
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainSize" 	Name="LOC_MAP_SIZE" Description="" Domain="StandardMapSizes" DefaultValue="MAPSIZE_ENORMOUS" ConfigurationGroup="Map" ConfigurationId="MAP_SIZE" Hash="1" GroupId="MapOptions" Visible="0" SortIndex="225"/>

		<!--	Hidden parameter to hide normal mapsize for converted maps
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="HideSize" Name="HideSize" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="HideSize" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		
		<!--	Hidden parameter to set the map name that will be used to find the tables for TSL
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainName" 	Name="MapName" Description="" Domain="text" DefaultValue="PlayEuropeAgain" 	ConfigurationGroup="Map" ConfigurationId="MapName" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		
		<!--	Hidden parameters to adjust features placement when they are not imported
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainEquator" 	Name="EquatorAdjustment" Description="" Domain="text" DefaultValue="0"		ConfigurationGroup="Map" ConfigurationId="EquatorAdjustment" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainJungle" 	Name="JunglePercent" Description="" Domain="text" DefaultValue="0" 	ConfigurationGroup="Map" ConfigurationId="JunglePercent" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainForest" 	Name="ForestPercent" Description="" Domain="text" DefaultValue="20" ConfigurationGroup="Map" ConfigurationId="ForestPercent" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainMarsh" 		Name="MarshPercent" Description="" Domain="text" DefaultValue="2" 	ConfigurationGroup="Map" ConfigurationId="MarshPercent" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainOasis" 		Name="OasisPercent" Description="" Domain="text" DefaultValue="1" 	ConfigurationGroup="Map" ConfigurationId="OasisPercent" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainIceNorth" 	Name="IceNorth" Description="" Domain="text" DefaultValue="4" ConfigurationGroup="Map" ConfigurationId="IceNorth" GroupId="MapOptions" Visible="0" SortIndex="2010"/>
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlayEuropeAgainIceSouth" 	Name="IceSouth" Description="" Domain="text" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="IceSouth" GroupId="MapOptions" Visible="0" SortIndex="2010"/>

		<!--	Option to force placement of all luxuries		-->
		<Row Key1="Map" Key2="PlayEuropeAgain.lua" 	ParameterId="PlaceAllLuxuries" Name="LOC_MAP_ALL_LUXURIES_NAME" Description="LOC_MAP_ALL_LUXURIES_DESCRIPTION" Domain="PlaceAllLuxuries" DefaultValue="PLACEMENT_DEFAULT" ConfigurationGroup="Map" ConfigurationId="PlaceAllLuxuries" GroupId="MapOptions" SortIndex="271"/>
		
	</Parameters>	
	
	<MapSupportedValues>
		<!--
		<Row Map="LargestEarth.lua" Domain="FeaturesPlacement" Value="PLACEMENT_DEFAULT" />
		<Row Map="LargestEarth.lua" Domain="FeaturesPlacement" Value="PLACEMENT_EMPTY" />
		-->
		<Row Map="PlayEuropeAgain.lua" Domain="LowLandPlacement" Value="PLACEMENT_EMPTY" />
		<Row Map="PlayEuropeAgain.lua" Domain="LowLandPlacement" Value="PLACEMENT_DEFAULT" />
		<Row Map="PlayEuropeAgain.lua" Domain="LowLandPlacement" Value="PLACEMENT_DEEP" />
	</MapSupportedValues>	
	
	<MapUnSupportedValues>
		<Row Map="PlayEuropeAgain.lua" Domain="StandardPlayers" Value="CIVILIZATION_AMERICA" />
	</MapUnSupportedValues>
</GameInfo>