<!--

	Map Size reference

			  Civ V       Civ VI 
	 
	Dual       40x24       44x26 
	Tiny       55x36       60x36 
	Small      66x42       74x46 
	Standard   80x52       84x54 
	Large     104x64       96x60
	Huge      128x80      106x66  
	Enormous              128x80
	Giant     180x94      180x94
	Ludicrous N/A        230x115 

-->

<GameInfo>
	
	<MapSizes>
		<Update>
			<Set MaxPlayers="62" MaxCityStates="60"/>
		</Update>

		<Replace MapSizeType="MAPSIZE_SMALL21" 		Name="LOC_MAPSIZE_SMALL21_NAME" Description="LOC_MAPSIZE_SMALL21_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="6" MinCityStates="0" MaxCityStates="60" DefaultCityStates="9" SortIndex="31" />
		<Replace MapSizeType="MAPSIZE_STANDARD21" 	Name="LOC_MAPSIZE_STANDARD21_NAME" Description="LOC_MAPSIZE_STANDARD21_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="8" MinCityStates="0" MaxCityStates="60" DefaultCityStates="12" SortIndex="41" />
		<Replace MapSizeType="MAPSIZE_LARGE21" 		Name="LOC_MAPSIZE_LARGE21_NAME" Description="LOC_MAPSIZE_LARGE21_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="10" MinCityStates="0" MaxCityStates="60" DefaultCityStates="15" SortIndex="51" />
		<Replace MapSizeType="MAPSIZE_HUGE21" 		Name="LOC_MAPSIZE_HUGE21_NAME" Description="LOC_MAPSIZE_HUGE21_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="12" MinCityStates="0" MaxCityStates="60" DefaultCityStates="18" SortIndex="61" />			
		<Replace MapSizeType="MAPSIZE_ENORMOUS21" 	Name="LOC_MAPSIZE_ENORMOUS21_NAME" Description="LOC_MAPSIZE_ENORMOUS21_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="16" MinCityStates="0" MaxCityStates="60" DefaultCityStates="24" SortIndex="71" />
		<Replace MapSizeType="MAPSIZE_ENORMOUS" 	Name="LOC_MAPSIZE_ENORMOUS_NAME" Description="LOC_MAPSIZE_ENORMOUS_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="16" MinCityStates="0" MaxCityStates="60" DefaultCityStates="24" SortIndex="70" />
		<Replace MapSizeType="MAPSIZE_GIANT" 		Name="LOC_MAPSIZE_GIANT_NAME" Description="LOC_MAPSIZE_GIANT_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="26" MinCityStates="0" MaxCityStates="60" DefaultCityStates="37" SortIndex="80" />
		<Replace MapSizeType="MAPSIZE_LUDICROUS" 	Name="LOC_MAPSIZE_LUDICROUS_NAME" Description="LOC_MAPSIZE_LUDICROUS_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="26" MinCityStates="0" MaxCityStates="60" DefaultCityStates="37" SortIndex="90" />	
		<!--
		<Replace MapSizeType="MAPSIZE_MAX" 			Name="LOC_MAPSIZE_MAX_NAME" Description="LOC_MAPSIZE_MAX_DESCRIPTION" MinPlayers="2" MaxPlayers="62" DefaultPlayers="26" MinCityStates="0" MaxCityStates="60" DefaultCityStates="37" SortIndex="95" />	
		-->
	</MapSizes>

	<Parameters>
		<Update>
			<Where Name="LOC_MAP_RESOURCES_NAME"/>
			<Set SortIndex="270"/>
		</Update>

		<!--	Culturally Linked Start Position		-->
		<Replace ParameterId="CulturallyLinkedStart" Name="LOC_CULTURALLY_LINKED_START_NAME" Description="LOC_CULTURALLY_LINKED_START_DESCRIPTION" Domain="CulturallyLinkedStart" DefaultValue="PLACEMENT_ETHNIC" ConfigurationGroup="Map" ConfigurationId="CulturallyLinkedStart" GroupId="MapOptions" Hash="0" SortIndex="287"/>

		<!--	Option to use Leaders TSL if available		-->
		<Replace ParameterId="LeaderTSL" Name="LOC_MAP_LEADER_TSL_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="LeaderTSL" GroupId="MapOptions" SortIndex="296"/>

		<!--	Option to use Alternate TSL if available		-->
		<Replace ParameterId="AlternateTSL" Name="LOC_MAP_ALTERNATE_TSL_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="AlternateTSL" GroupId="MapOptions" SortIndex="297"/>
		
		<!--	Option to use Alternate placement if no TSL if available		-->
		<Replace ParameterId="AlternatePlacement" Name="LOC_MAP_ALTERNATE_PLACEMENT_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="AlternatePlacement" GroupId="MapOptions" SortIndex="298"/>	
		
		<!--	New option for all maps to prevent Ice adjacent to land (help circumnavigation)		-->
		<Replace ParameterId="NoIceAdjacentToLand" Name="LOC_MAP_NO_ICE_ADJACENT_TO_LAND_NAME" Description="" Domain="bool" DefaultValue="1" ConfigurationGroup="Map" ConfigurationId="NoIceAdjacentToLand" GroupId="MapOptions" SortIndex="2000"/>

		<!--	New option for all maps to launch a game without city states
		<Replace ParameterId="NoCityStates" Name="LOC_MAP_NO_CITY_STATE_NAME" Description="" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="NoCityStates" GroupId="AdvancedOptions" SortIndex="2020"/>
		-->		
		
		<!--	Some Settings where linked to "RULESET_STANDARD", make them available with all		-->
		<Replace ParameterId="NoGoodyHuts" Name="LOC_GAME_NO_GOODY_HUTS" Description="" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAME_NO_GOODY_HUTS" GroupId="AdvancedOptions" SortIndex="2010"/>
		<Replace ParameterId="NoBarbarians" Name="LOC_GAME_NO_BARBARIANS" Description="" Domain="bool" DefaultValue="0" ConfigurationGroup="Game" ConfigurationId="GAME_NO_BARBARIANS" GroupId="AdvancedOptions" SortIndex="2010"/>

		<!--	Option to use only generic city names (no civ-specific names)		-->
		<Replace ParameterId="OnlyGenericCityNames" Name="LOC_MAP_ONLY_GENERIC_CITY_NAMES_NAME" Description="" Domain="bool" DefaultValue="0" ConfigurationGroup="Map" ConfigurationId="OnlyGenericCityNames" GroupId="MapOptions" SortIndex="2001"/>

		<Replace ParameterId="TurnsBeforeBarbarians" Name="LOC_TURNS_BEFORE_BARBARIANS_NAME" Description="LOC_TURNS_BEFORE_BARBARIANS_DESCRIPTION" Domain="uint" Hash="0" DefaultValue="7" ConfigurationGroup="Game" ConfigurationId="TurnsBeforeBarbarians" GroupId="AdvancedOptions" SortIndex="2999"/>

		<!--	Scenario Options
		<Replace ParameterId="CityPlacement" 	Name="LOC_MAP_CITY_PLACEMENT_NAME"	Description="LOC_MAP_CITY_PLACEMENT_DESCRIPTION" 	Domain="CityPlacement" 	DefaultValue="TERRAIN" 			ConfigurationGroup="Map" ConfigurationId="CityPlacement" 	GroupId="MapOptions" SortIndex="10010"/>
		<Replace ParameterId="ScenarioType" 	Name="LOC_MAP_SCENARIO_TYPE_NAME"	Description="LOC_MAP_SCENARIO_TYPE_DESCRIPTION" 	Domain="ScenarioType" 	DefaultValue="SCENARIO_NONE" 	ConfigurationGroup="Map" ConfigurationId="ScenarioName" 	GroupId="MapOptions" SortIndex="10000"/>
		-->

	</Parameters>	

	<DomainValues>
		<Replace Domain="ResourcesPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_RESOURCES_PLACEMENT_DEFAULT_NAME" Description="LOC_MAP_RESOURCES_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="ResourcesPlacement" Value="PLACEMENT_IMPORT" 	Name="LOC_MAP_RESOURCES_PLACEMENT_IMPORT_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_IMPORT_DESCRIPTION" 	SortIndex="20"/>
		<Replace Domain="ResourcesPlacement" Value="PLACEMENT_EMPTY" 	Name="LOC_MAP_PLACEMENT_EMPTY_NAME" 			Description="LOC_MAP_PLACEMENT_EMPTY_DESCRIPTION" 				SortIndex="30"/>
		
		<Replace Domain="ResourcesExclusion" Value="PLACEMENT_DEFAULT" 	Name="LOC_YNAMP_DEACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="ResourcesExclusion" Value="PLACEMENT_EXCLUDE" 	Name="LOC_YNAMP_ACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_EXCLUDE_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="PlaceAllLuxuries" Value="PLACEMENT_DEFAULT" 	Name="LOC_YNAMP_DEACTIVATED_NAME" 	Description="LOC_MAP_ALL_LUXURIES_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="PlaceAllLuxuries" Value="PLACEMENT_REQUEST" 	Name="LOC_YNAMP_ACTIVATED_NAME" 	Description="LOC_MAP_ALL_LUXURIES_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="RealDeposits" Value="PLACEMENT_DEFAULT" 	Name="LOC_YNAMP_DEACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="RealDeposits" Value="PLACEMENT_DEPOSIT" 	Name="LOC_YNAMP_ACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_RWDEPOSIT_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="RequestedResources" Value="PLACEMENT_DEFAULT" 	Name="LOC_YNAMP_DEACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="RequestedResources" Value="PLACEMENT_REQUEST" 	Name="LOC_YNAMP_ACTIVATED_NAME" 	Description="LOC_MAP_RESOURCES_REQUESTED_DESCRIPTION" 	SortIndex="20"/>	
		
		<Replace Domain="FeaturesPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_FEATURES_PLACEMENT_DEFAULT_NAME" 	Description="LOC_MAP_FEATURES_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="FeaturesPlacement" Value="PLACEMENT_IMPORT" 	Name="LOC_MAP_FEATURES_PLACEMENT_IMPORT_NAME" 	Description="LOC_MAP_FEATURES_PLACEMENT_IMPORT_DESCRIPTION" 	SortIndex="20"/>
		<Replace Domain="FeaturesPlacement" Value="PLACEMENT_EMPTY" 	Name="LOC_MAP_PLACEMENT_EMPTY_NAME" 			Description="LOC_MAP_PLACEMENT_EMPTY_DESCRIPTION" 				SortIndex="30"/>		
		
		<Replace Domain="CivilizationPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_CIVILIZATIONS_PLACEMENT_DEFAULT_NAME" Description="LOC_MAP_CIVILIZATIONS_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="CivilizationPlacement" Value="PLACEMENT_TSL" 		Name="LOC_MAP_CIVILIZATIONS_PLACEMENT_TSL_NAME" 	Description="LOC_MAP_CIVILIZATIONS_PLACEMENT_TSL_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="CulturallyLinkedStart" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_LINKED_PLACEMENT_DEFAULT_NAME" Description="LOC_MAP_LINKED_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="CulturallyLinkedStart" Value="PLACEMENT_ETHNIC"	Name="LOC_MAP_LINKED_PLACEMENT_ETHNIC_NAME" Description="LOC_MAP_LINKED_PLACEMENT_ETHNIC_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="ContinentsPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_CONTINENTS_PLACEMENT_DEFAULT_NAME" 	Description="LOC_MAP_CONTINENTS_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="ContinentsPlacement" Value="PLACEMENT_IMPORT" 		Name="LOC_MAP_CONTINENTS_PLACEMENT_IMPORT_NAME" 	Description="LOC_MAP_CONTINENTS_PLACEMENT_IMPORT_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="ContinentModel" Value="SEVEN_CONTINENT" 	Name="LOC_MAP_CONTINENTS_MODEL_SEVEN_CONTINENT_NAME" 	Description="LOC_MAP_CONTINENTS_MODEL_SEVEN_CONTINENT_DESCRIPTION" SortIndex="10"/>
		<Replace Domain="ContinentModel" Value="SUB_CONTINENT" 		Name="LOC_MAP_CONTINENTS_MODEL_SUBCONTINENT_NAME" 		Description="LOC_MAP_CONTINENTS_MODEL_SUBCONTINENT_DESCRIPTION" 	SortIndex="20"/>
		
		<Replace Domain="RiversPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_RIVERS_PLACEMENT_DEFAULT_NAME" 	Description="LOC_MAP_RIVERS_PLACEMENT_DEFAULT_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="RiversPlacement" Value="PLACEMENT_IMPORT" 		Name="LOC_MAP_RIVERS_PLACEMENT_IMPORT_NAME" 	Description="LOC_MAP_RIVERS_PLACEMENT_IMPORT_DESCRIPTION" 	SortIndex="20"/>
		<Replace Domain="RiversPlacement" Value="PLACEMENT_EMPTY" 		Name="LOC_MAP_PLACEMENT_EMPTY_NAME" 			Description="LOC_MAP_PLACEMENT_EMPTY_DESCRIPTION" 				SortIndex="30"/>
		
		<Replace Domain="NaturalWondersPlacement" Value="PLACEMENT_DEFAULT" 	Name="LOC_MAP_NATURAL_WONDERS_PLACEMENT_DEFAULT_NAME" 	Description="LOC_MAP_NATURAL_WONDERS_PLACEMENT_DEFAULT_DESCRIPTION" SortIndex="10"/>
		<Replace Domain="NaturalWondersPlacement" Value="PLACEMENT_IMPORT" 		Name="LOC_MAP_NATURAL_WONDERS_PLACEMENT_IMPORT_NAME" 	Description="LOC_MAP_NATURAL_WONDERS_PLACEMENT_IMPORT_DESCRIPTION" 	SortIndex="20"/>
		<Replace Domain="NaturalWondersPlacement" Value="PLACEMENT_EMPTY" 		Name="LOC_MAP_PLACEMENT_EMPTY_NAME" 			Description="LOC_MAP_PLACEMENT_EMPTY_DESCRIPTION" 			SortIndex="30"/>
		
		<Replace Domain="ForceTSL" Value="FORCE_TSL_OFF" 	Name="LOC_MAP_FORCE_TSL_OFF" 	Description="LOC_MAP_FORCE_TSL_OFF_DESCRIPTION" 	SortIndex="10"/>
		<Replace Domain="ForceTSL" Value="FORCE_TSL_CS" 	Name="LOC_MAP_FORCE_TSL_CS" 	Description="LOC_MAP_FORCE_TSL_CS_DESCRIPTION" 		SortIndex="20"/>
		<Replace Domain="ForceTSL" Value="FORCE_TSL_AI" 	Name="LOC_MAP_FORCE_TSL_AI" 	Description="LOC_MAP_FORCE_TSL_AI_DESCRIPTION" 		SortIndex="30"/>
		<Replace Domain="ForceTSL" Value="FORCE_TSL_ALL" 	Name="LOC_MAP_FORCE_TSL_ALL" 	Description="LOC_MAP_FORCE_TSL_ALL_DESCRIPTION" 	SortIndex="30"/>		
		
	</DomainValues>

	<ParameterDependencies>
	
		<Replace ParameterId="Resources"				ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_IMPORT"/>
		<Replace ParameterId="Resources" 				ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_EMPTY"/>
		<Replace ParameterId="Rainfall"					ConfigurationGroup="Map" ConfigurationId="FeaturesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_IMPORT"/>
		<Replace ParameterId="Rainfall" 				ConfigurationGroup="Map" ConfigurationId="FeaturesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_EMPTY"/>
		<Replace ParameterId="CulturallyLinkedStart" 	ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="NotEquals" 	ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="MapSize" 					ConfigurationGroup="Map" ConfigurationId="HideSize" 				Operator="NotEquals" 	ConfigurationValue="1"/>
		<Replace ParameterId="ResourcesExclusion" 		ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_IMPORT"/>
		<Replace ParameterId="ResourcesExclusion" 		ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_EMPTY"/>
		<Replace ParameterId="RealDeposits" 			ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="Equals" 		ConfigurationValue="PLACEMENT_DEFAULT"/>
		<Replace ParameterId="RequestedResources" 		ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="Equals" 		ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="RequestedResources" 		ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals"	ConfigurationValue="PLACEMENT_EMPTY"/>
		<Replace ParameterId="StartPosition" 			ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="NotEquals" 	ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="ForceTSL" 				ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="Equals" 		ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="LeaderTSL" 				ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="Equals" 		ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="AlternateTSL" 			ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="Equals" 		ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="AlternatePlacement" 		ConfigurationGroup="Map" ConfigurationId="CivilizationPlacement" 	Operator="Equals" 		ConfigurationValue="PLACEMENT_TSL"/>
		<Replace ParameterId="OnlyGenericCityNames" 	ConfigurationGroup="Map" ConfigurationId="AutoCityNaming" 			Operator="Equals" 		ConfigurationValue="1"/>
		<Replace ParameterId="PlaceAllLuxuries" 		ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_IMPORT"/>
		<Replace ParameterId="PlaceAllLuxuries" 		ConfigurationGroup="Map" ConfigurationId="ResourcesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_EMPTY"/>
		<Replace ParameterId="NoIceAdjacentToLand"		ConfigurationGroup="Map" ConfigurationId="FeaturesPlacement" 		Operator="NotEquals" 	ConfigurationValue="PLACEMENT_IMPORT"/>
		<Replace ParameterId="ContinentModel"			ConfigurationGroup="Map" ConfigurationId="ContinentsPlacement" 		Operator="Equals" 		ConfigurationValue="PLACEMENT_IMPORT"/>

		<Replace ParameterId="TurnsBeforeBarbarians" 	ConfigurationGroup="Game" ConfigurationId="GAME_NO_BARBARIANS" 		Operator="Equals" ConfigurationValue="0" />
		

	</ParameterDependencies>
	
	<!-- doesn't works as expected ?
	<MapUnSupportedValues>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_ENORMOUS" />
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_GIANT" />
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_LUDICROUS" />
	</MapUnSupportedValues>
	-->	
	
	<MapSupportedValues>		
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_DUEL" 		/>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_TINY" 		/>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_SMALL" 		/>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_STANDARD" 	/>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_LARGE" 		/>
		<Replace Map="InlandSea.lua" Domain="StandardMapSizes" Value="MAPSIZE_HUGE" 		/>
	</MapSupportedValues>
	
</GameInfo>